@using MyTiresPlus.Web.ViewModels.Home
@model vmfull

@{
    this.ViewData["Title"] = "Sissy sluts";
}
<h1>@this.ViewData["Title"]</h1>
@Html.EditorForModel()
@*hva6ta viem model i pravi/ input pole za vsqko proparti*@

<p>Use this page to detail your site's privacy policy.</p>
<table class="table table-striped table-hover table-sm">
    @for (int i = 0; i < 7; i++)
    {
        <tr>
            <td>
                <p>@Model.Model1.DataTime</p>
                <p>@Model.Model2.Price</p>
            </td>

        </tr>
    }
</table>

@section Links {
    <li>
        <li cite="nav-item">
            <a class="nav-link text-dark" href="https://twitter.com/home">Twiter</a>
        </li>
    </li>
}

@section Scripts {
    <script>
        alert('Syssi Slut!!!:)');
    </script>
}
<style>
    body {
        background-color: pink
    }
</style>
